.jumbotron-index{
    background-color: rgb(75,172,198);
    text-align:center;
    color: #fff;
}

.texto-centralizado {
    text-align:center;
}

.well-sistema-desenvolvido {
    background-color: rgb(203,108,29);
    color: #fff;
}